

body{
    background-color: brown;
}

img{
    max-width: 100%;
    display: none;
}
.active{
    display: block;
}


/*.slider{
    position: relative;
}

.controls{
    position:absolute;
    top: 10px;
    left:15px;
}*/